<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <h1>Products Page</h1>
    <!-- REMEMBER NOT TO USE FILE PATH NAMES. This is a url, so home is just '/' -->
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/products/new">New</a></li>
    </nav>
    <ul>

        <% items.map( (productData)=> { %>
            <li> <h6><%= productData.id %>
            <% if(productData.images != undefined) { %>
                <img src= <%=productData.images[0] %>/> <%}%>
                       
                            <h3>
                                <%= productData.title %>
                            </h3>
                            <h4>
                                <%= productData.description %>
                            </h4>
                            <h3>
                                <%= productData.price %>
                            </h3>
            </li>
                    <%})%>
    </ul>
</body>

</html>